$color-primary: #00b7bd;
$color-second: #09c6cc;

$color_button: #faf2fa60;
$white: #fff;

$color-book-primary: #e84e0f;
$color-book-primary-dark: #df3e08;
$color-book-hover: #ff8c1a;
$color-book-second: #f3a113;
$color-dinaTeo: #f1f507;
$color-textCard: #b9b9b8;
$color--AnswerCorret: #00a3a6;
$color--AnswerIncorret: #f88163;
$color--optionDinaTeo: #555554;
$color--backgroundGame: rgba(223, 221, 219, 0.473);
// Colores super curiosos

$Naranja: #ff8c1a;

$CelesteHover: #30c4e6;
$CelesteHov: #44d4f5;
$Petroleo: #00a3a6;
$Verde: #8ccb41;

//COLORES LIBRO MATEMATICA 3

$Celeste: #12b4bf;
$Amarillo: #ffd615;
$Rojo: #e52946;
$Bordo: #809c59;

$colorCubo: #00a3a6;
$colorBorderCubo: #00a3a6;
$colorPointCubo: #fff;

$colorEnableBtn: #00a3a6;
$colorEnableBtnHover: #148d8f;
$colorHoverBtn: rgb(184, 180, 180);
$colorDisableBtn: rgb(243, 224, 174);
$color--texDark: #555554;
$prueba: #00b7bd;
