* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;

  background-size: cover;
  font-family: montserratB;
  background: url(../img/bg.svg);
}
