@media (min-width: 650px) {
  .container__infoGame {
    background-color: transparent;
    .infoGame {
      background-color: $color--backgroundGame;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 40px;
      border-radius: 15px;
      .bookImg {
        width: 30%;
        margin: 0;
        img {
          width: 200px;
        }
      }
      .detailsGame {
        width: 70%;
      }
    }
  }
  .container__selectOption {
    .imgLogoBook {
      width: 40%;
    }
    .postSelectOpcion {
      width: 50%;
    }
    .optionsDados {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      .dado {
        margin: 0;
        gap: 10px;
      }
    }
  }
  .container__startGame {
    background-color: $color--backgroundGame;
    .logoStarGame {
      img {
        width: 300px;
      }
    }
    .dadosContainer {
      //   background-color: $CelesteHover;
      width: 80%;
    }
    .btn {
      width: 80%;
      //   background-color: $CelesteHover;
      .btnthrow {
      }
    }
  }
  .contenedor {
    margin: 0 30px;
  }
}

@media (min-width: 768px) {
  .container__selectOption {
    .imgLogoBook {
      width: 50%;
    }
    .postSelectOpcion {
      width: 60%;
    }
    .optionsDados {
      gap: 70px;
    }
  }
  .container__startGame {
    .logoStarGame {
      img {
        width: 300px;
      }
    }
    .dadosContainer {
    }
    .btn {
      .btnthrow {
        width: 70%;
      }
    }
    .infoGame {
      .reportData {
        span {
          font-size: 1.7;
        }
        img {
          width: 60px;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .container__infoGame {
    .infoGame {
      width: 50%;
    }
  }
  .container__selectOption {
    width: 70%;
  }
  .container__startGame {
    width: 70%;
    .logoStarGame {
      img {
        width: 350px;
      }
    }
    .dadosContainer {
    }
    .btn {
      .btnthrow {
        width: 60%;
      }
    }
  }
  .containerDataReport {
    background-color: $color--backgroundGame;
    width: 70%;
    .btnPrint {
      width: 30%;
    }
  }
}
