progress[value] {
  /* Elimino la apariencia por defecto */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Quito el borde que aparece en Firefox */
  border: none;

  /* Añado mis propios estilos */
  width: 180px;
  height: 30px;
  margin: 10px;
  overflow: hidden;

  /*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
  border: 1px inset #666;
  background-color: #d8d8d8;
}

.containerDataReport {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .center {
    transform: rotateZ(-90deg);
    .progress {
      display: flex;

      justify-content: center;
      align-items: center;
      gap: 5px;
      img {
        width: 30px;
      }
    }
  }
  .btnPrint {
    width: 100%;

    text-align: center;
    button {
      width: 80%;
      border: none;
      border-radius: 10px;
      background-color: rebeccapurple;
      padding: 10px;
      margin: 0 auto;
      color: white;
    }
  }
}
.containerDataReport--hide {
  display: none;
}
