//se debe eliminar esta clase con js para que se pueda mostrar la pantalla

// A partir de aqui se comienza a diseñar el juego

.container__selectOption {
  background-color: $color--backgroundGame;
  width: 90%;
  height: 95vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .imgLogoBook {
    width: 70%;
  }
  .postSelectOpcion {
    background-color: $CelesteHover;

    width: 80%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    span {
      font-size: 1em;
      font-weight: 800;
      color: $white;
    }
  }
  .optionsDados {
    width: 100%;
    text-align: center;
    .dado {
      margin: 0 auto 20px auto;
      background-color: $Petroleo;
      border: 4px solid $Petroleo;
      border-radius: 15px;

      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      &:hover {
        background-color: $colorEnableBtnHover;
      }
      span {
        border-radius: 10px;
        font-weight: 800;
        width: 60%;
        color: $white;
        padding: 5px;
      }
      img {
        width: 50%;
      }
    }
  }
}

.container__selectOption--hide {
  display: none;
}
